<!doctype html>
<html lang="en">

<head>
  <!-- Meta -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>CS3102 Lectures</title>
</head>

<body>
<div id="app" class="container-fluid">
	<div class="jumbotron">
	  <h1 class="display-4">CS3102 Theory of Computation</h1>
	  <p class="lead">Spring 2019</p>
	  
	  <div class="btn-group" role="group" aria-label="Links">
					<template v-for="link in other_links">
						<a class="btn btn-outline-secondary" v-bind:href="hello">{{link}}</a>
					</template>
				</div>
	  <hr class="my-4">
		<div class="search-wrapper">
		    <input type="text" v-model="search" placeholder="Search by title or keywords"/>
		</div>
	</div>

	<div style="margin: auto;margin-top:20px" class="justify-content-center col-8 card bg-light" v-for="lecture in filteredList">
		  <div class="card-header">
                    <h6>{{lecture.display}} | {{lecture.pubdate}}</h6>
		    <h4>{{ lecture.title}}</h4> 
		    <h6 class="card-subtitle mb-2 text-muted">Keywords: {{ lecture.keywords}}</h6>
		    <h6 class="card-subtitle mb-2 text-muted">Sipser Readings: {{ lecture.readings}}</h6>
		  </div>
		<div class="card-body">
			<div class="card-text">





					<ul class="nav nav-tabs" v-bind:id="myTab+lecture.index" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" id="home-tab" data-toggle="tab" v-bind:href="'#home'+lecture.index" role="tab" aria-selected="true">Home</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" id="pm-tab" data-toggle="tab" v-bind:href="'#pm'+lecture.index" role="tab" aria-selected="false">Video</a>
					  </li>
					</ul>

					<div class="tab-content">
					    <div v-bind:id="'home'+lecture.index" class="tab-pane fade show active">
					    
					      <div v-if="lecture.preview != 'None'"> <img v-bind:src="lecture.preview" width="400"> </div>
					      <div v-else> No preview available.</div>
					      
					    </div>
					    <div v-bind:id="'pm'+lecture.index" class="tab-pane fade">
					      <div v-if="lecture.video[0] != 'None'">
					      	<iframe class="col-lg-12 col-md-12 col-sm-12" width="400" height="400" v-bind:src="lecture.video[0]"> </iframe>
					      </div>
					      <div v-else> No available recording of this lecture.</div>
					    </div>
					</div>



			      <br>
			      <template v-if="lecture.pdf != 'None'">
			      <a class="btn btn-outline-primary" v-bind:href="lecture.pdf">PDF</a>
			      </template>
			      <template v-if="lecture.pptx != 'None'">
			      <a class="btn btn-outline-success" v-bind:href="lecture.pptx">PPTX</a>
			      </template>
				<div class="btn-group" role="group" aria-label="Links">
					<template v-if="lecture.weblinks != 'None'">
						<template v-for="weblink in lecture.weblinks">
							<a class="btn btn-outline-secondary" v-bind:href="weblink.url">{{weblink.link}}</a>
						</template>
					</template>
				</div>
			 </div>
		</div>
	</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

var other_links = ['http://www.cs.virginia.edu/~njb2b/cs4102/hub/slides/cs4102_L2_recurrences_DandC.pdf',
                    'http://www.cs.virginia.edu/~njb2b/cs4102/hub/slides/cs4102_L2_recurrences_DandC.pdf']


   class Weblink{
     constructor(url, link){
     this.url = url;
     this.link = link
     }
   }

   class Lecture{
     constructor(title, keywords, pubdate, display, i, video, pdf, pptx, preview, readings, weblinks){
     this.title = title;
     this.keywords = keywords;
     this.pubdate = pubdate;
     this.video = video;
     this.pdf = pdf;
     this.pptx = pptx;
     this.preview = preview;
     this.readings = readings;
     this.weblinks = weblinks;
     this.display = display;
     this.index = i;
     } 
   }
   
   const app = new Vue({
   el: "#app",
   data: {
     search:  "" ,
     lectures : [ 

new Lecture(
'Cold Fusion and Drunken Waterfowl', 
'None', 
'Tuesday January 15', 
'Lecture 1', 
'Lecture1', 
['https://uva.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=2640eba4-ce5e-417b-841d-a9d60139fb02', 
'None'], 
'slides/L1_welcome.pdf', 
'slides/L1_welcome.pptx', 
'previews/L1_welcome.png', 
'None', 
[
 new Weblink('http://www.cs.virginia.edu/~njb2b/cs3102/files/cs3102_syllabus_s19.pdf', 'Syllabus'), new Weblink('https://calendar.google.com/calendar/embed?src=kmf2gjk9ne5f6odf9t126a1gjs%40group.calendar.google.com&ctz=America%2FNew_York', 'Calendar'), new Weblink('https://goo.gl/forms/kq1DW3pErFUERtlg2', 'Questionnaire'), 
]
), 

new Lecture(
'Dizzying Proofs', 
'TBA', 
'Thursday January 17', 
'Lecture 2', 
'Lecture2', 
['https://uva.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=75bbc99d-d2af-421f-b84d-a9d801390ba6', 
'None'], 
'slides/L2_proofs.pdf', 
'slides/L2_proofs.pptx', 
'previews/L2_proofs.png', 
'Chapter 0', 
'None'
), 

new Lecture(
'Change my mind', 
'TBA', 
'Tuesday January 22', 
'Lecture 3', 
'Lecture3', 
['https://uva.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=d8bba451-f128-48ce-b488-a9dd01394826', 
'None'], 
'slides/L3_proofs_cont.pdf', 
'slides/L3_proofs_cont.pptx', 
'previews/L3_proofs_cont.png', 
'Chapter 0', 
'None'
), 

new Lecture(
'Change my mind pt. 2', 
'TBA', 
'Thursday January 24', 
'Lecture 4', 
'Lecture4', 
['https://uva.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=f1aadd9d-e1b3-45f0-a3cd-a9df013931ee', 
'None'], 
'slides/L4_proofs_induction.pdf', 
'slides/L4_proofs_induction.pptx', 
'previews/L4_proofs_induction.png', 
'Chapter 0', 
'None'
), 

new Lecture(
'Sets and Functions', 
'TBA', 
'Tuesday January 29', 
'Lecture 5', 
'Lecture5', 
['https://uva.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=c24c7a4e-2bf9-4cf5-bedd-a9e401393b90', 
'None'], 
'slides/L5_sets.pdf', 
'slides/L5_sets.pptx', 
'previews/L5_sets.png', 
'Chapter 0', 
'None'
), 

new Lecture(
'To Infinity and Beyond', 
'TBA', 
'Thursday January 31', 
'Lecture 6', 
'Lecture6', 
['None', 
'None'], 
'slides/L6_infinity.pdf', 
'slides/L6_infinity.pptx', 
'previews/L6_infinity.png', 
'Chapter 0', 
'None'
), 

new Lecture(
'Nonsense', 
'TBA', 
'Tuesday February 5', 
'Lecture 7', 
'Lecture7', 
['None', 
'None'], 
'slides/L7_uncountability.pdf', 
'slides/L7_uncountability.pptx', 
'previews/L7_uncountability.png', 
'Chapter 0', 
[
 new Weblink('http://www.arts.ucsb.edu/faculty/reese/classes/artistsbooks/The%20Library%20of%20Babel.pdf', 'The Library of Babel'), new Weblink('http://anagrammatically.com/2010/03/08/the-book-of-sand-el-libro-de-arena-by-borges-translated/', 'The Book of Sand'), new Weblink('https://www.livescience.com/64469-unsolvable-math-problem.html', 'Expectation Maximization'), 
]
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday February 7', 
'Lecture 8', 
'Lecture8', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday February 12', 
'Lecture 9', 
'Lecture9', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday February 14', 
'Lecture 10', 
'Lecture10', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday February 19', 
'Lecture 11', 
'Lecture11', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday February 21', 
'Lecture 12', 
'Lecture12', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday February 26', 
'Lecture 13', 
'Lecture13', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday February 28', 
'Lecture 14', 
'Lecture14', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'Midterm Exam', 
'TBA', 
'Tuesday March 5', 
'Exam 1', 
'Exam1', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday March 7', 
'Lecture 15', 
'Lecture15', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday March 19', 
'Lecture 16', 
'Lecture16', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday March 21', 
'Lecture 17', 
'Lecture17', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday March 26', 
'Lecture 18', 
'Lecture18', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday March 28', 
'Lecture 19', 
'Lecture19', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday April 2', 
'Lecture 20', 
'Lecture20', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday April 4', 
'Lecture 21', 
'Lecture21', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday April 9', 
'Lecture 22', 
'Lecture22', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday April 11', 
'Lecture 23', 
'Lecture23', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday April 16', 
'Lecture 24', 
'Lecture24', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday April 18', 
'Lecture 25', 
'Lecture25', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday April 23', 
'Lecture 26', 
'Lecture26', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Thursday April 25', 
'Lecture 27', 
'Lecture27', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'TBA', 
'TBA', 
'Tuesday April 30', 
'Lecture 28', 
'Lecture28', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 

new Lecture(
'Final Exam', 
'TBA', 
'Monday May 6', 
'Exam 2', 
'Exam2', 
['None', 
'None'], 
'None', 
'None', 
'None', 
'TBA', 
'None'
), 


     ]
   },

     computed: {
       filteredList() {
         return this.lectures.filter(lecture => {
	     return lecture.title.toLowerCase().includes(this.search.toLowerCase()) ||
	     lecture.keywords.toLowerCase().includes(this.search.toLowerCase())
	 }) 
       }
     }
   
   
   });
   

  </script>
</body>

</html>

